/* basic css stuff */

#sidebar {
  .widget_nav_menu {
    ul.menu {
      li.current-menu-item a {
        color: white;
        background-color: $tdm-red;
        padding: 5px 8px;
      }
    }
  }
}

#footer-bottom {
  #footer-info {
    width: 100%;
    .reach-customer-copyright {
      float: left;
    }
    .reach-branding{
      float: right;
      a:before {
        content: url('images/reach-favicon.png');
        padding-right: 4px;
      }
    }
  }
}
