/* basic css stuff */
// classes defined by us/
// galleries hide title
.mfp-wrap {
  .mfp-container {
    .mfp-content {
      .mfp-figure {
        figcaption {
          .mfp-title {
            display: none;
          }
        }
      }
    }
  }
}
// align ment right... ex: sidebar of posts.
.et_pb_module.et_pb_menu.ttm-menu-align-right {
  .et_pb_menu__menu {
    //width: 100%;
    nav.et-menu-nav {
      //width: 100%;
      ul.et-menu {
        //width: 100%;
        flex-direction: column;
        li {
          //width: 100%;
          a {
            //text-align:right;
            //width: 100%;
          }
        }

      }
    }
  }
}
// make active link a box.
.et_pb_module.et_pb_menu.ttm-menu-active-box {
  .et_pb_menu__menu {
    nav.et-menu-nav {
      ul.et-menu {
        li.current-menu-item a {
          border: 1px solid white;
          padding: 5px 8px;
        }

      }
    }
  }
}
.et_pb_module.et_pb_posts.tdm-blog-tight {
  article {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
/*show hamburger menu on desktop for specific menu module*/

@media (min-width: 980px) {
  .tdm-hamburger-menu .et_pb_menu__menu {
      display: none;
  }

  .tdm-hamburger-menu .et_mobile_nav_menu {
      display: flex;
      float: none;
      margin: 0 6px;
      align-items: center;
      ul.et_mobile_menu {
        list-style: none;
        padding-left: 0px;
      }
  }
}
//
#sidebar {
  .widgettitle {
    color: white;
    font-weight: bold;
  }
  .widget_nav_menu {
    ul.menu {

      li a {
        color: white;
      }
      li.current-menu-item a {
        border: 1px solid white;
        padding: 5px 8px;
      }
    }
  }
}

#footer-bottom {
  #footer-info {
    width: 100%;
    .reach-customer-copyright {
      float: left;
    }
    .reach-branding{
      float: right;
      a:before {
        content: url('images/reach-favicon.png');
        padding-right: 4px;
      }
    }
  }
}
