/* basic css stuff */

#footer-bottom {
  #footer-info {
    width: 100%;
    .reach-customer-copyright {
      float: left;
    }
    .reach-branding{
      float: right;
      a:before {
        content: url('images/reach-favicon.png');
        padding-right: 4px;
      }
    }
  }
}
