/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:
// button colors

$button-color: #fff;
$button-bkg: #57f14e;
$button-hover-color: #0088c7;
$button-hover-bkg: #ffa73d;


// special colors
$cf7-success-color: #000;
$cf7-success-background: #57f14e;
$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);
/* ----------- end Colors ----------- */
